.nav , .card-title{
    font-family: 'Bebas Neue', cursive;
font-family: 'Pushster', cursive;}
.nav{
    font-size: 25px;
}
.card-text{
    font-family: 'Bebas Neue', cursive;
font-family: 'Caveat', cursive;
font-family: 'Pushster', cursive;
}
